# 가상 환경 폴더 (Python venv)
venv/

# __pycache__ (Python 컴파일된 파일)
__pycache__/

# 환경 설정 파일 (보안 관련)
.env

# 데이터베이스 파일 (SQLite 등)
*.db
*.sqlite3

# Python의 가상 환경 관련 폴더
pip-log.txt
pip-delete-this-directory.txt

# VS Code 설정 파일 (개인 설정)
.vscode/
models/driver_matching_model.pkl
